.blog-box{
    width: 70vw;
    margin: 0 auto;
    h1{
        text-align: center;
    }
    .blog-author{
        text-align: center;
        font-size: 16px;
    }
    .blog-content {
        text-indent: 2em;
        font-size: 14px;
        line-height: 45px
    }
}