.tags-box{
    width: 70vw;
    margin: 0 auto;
    .tags-box-header{
        .tags-box-header-item{
            display: inline-block;
            margin: 0.1rem;
            position: relative;
            .tags-box-header-tag{
                padding: 0.04rem 0.01rem;
                border: 1px solid #ccc;
                border-radius: 0.5em;
            }
            sup{
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(50%,-50%);
                transform-origin: 100% 0;
                z-index: 10;
                min-width: 0.2rem;
                height: 0.2rem;
                padding: 0 0.06rem;
                color: #fff;
                font-weight: 400;
                font-size: 0.12rem;
                line-height: 0.2rem;
                white-space: nowrap;
                text-align: center;
                background: #f5222d;
                border-radius: 10px;
                -webkit-box-shadow: 0 0 0 1px #fff;
                box-shadow: 0 0 0 1px #fff;
            }
        }
        
    }
    .tags-box-timeline{
        // position: absolute;
        // top: 40%;
        // left: 50%;
        // transform: translateX(-50%);
        margin-top: 2em;
        font-style: italic;
        font-family: Lora,'Times New Roman',serif;
        .ant-timeline-item{
            font-size: 0.18rem;
            font-weight: 600;
            padding: 0 0 0.5rem;
        }
    }
}