.cursorPoint{
    position: relative;
    line-height: 2em;
    &::after{
        content: '|';
        animation: blink 1s infinite
    }
    sup{
        position: relative;
        top: -0.5em;
        // left: -1.5em;
    }
    .span-animation{
        animation: spa 2000ms ease
    }
    .span-animationbottom{
        display: inline-block;
        animation: spa1 500ms ease
    }
    .span-animationleft{
        display: inline-block;
        animation: spa2 500ms ease
    }

}

@keyframes blink{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes spa {
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
    }
}

@keyframes spa1 {
    from{
        opacity: 0;
        transform: translateY(300px);


    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spa2 {
    from{
        opacity: 0;
        transform: translateX(-300px);


    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
