
.header-box{
    width: 100%;
    // height: 100%;
    .header-box-tab{
        width: 100%;
        height: 0.8rem;
        // background-color: #ccc;
        line-height: 6em;
        margin-bottom: 0.2rem;
        font-size: 0.2rem;
        font-weight: bold;
        .header-box-tab-ul{
            width: 100%;
            height: 0.8rem;
            line-height: 0.8rem;
            padding-left: 2em;

            li{
                float: left;
                width: 5em;
                height: 2em;
                a{
                    color: #333;  
                    &:hover,
                    &:active    {
                    color:rgb(24, 118, 224);
                    }
                }
                .active{
                    color: rgb(24, 118, 224);
                }
            }
            .header-box-tab-login{
                color: #999;
                float: right;
                width: 3rem;
                font-size: 0.16rem;
                font-weight: 500;
                span{
                    cursor: pointer;
                    &:hover{
                        color: rgb(24, 118, 224);
                        text-decoration: underline;
                    }
                }
            }
            .header-box-tab-nologin{
                color: #999;
                float: right;
                width: 6em;
                height: 2em;
                font-size: 0.16rem;
                font-weight: 500;
                cursor: pointer;
                &:hover{
                    color: rgb(24, 118, 224);
                    text-decoration: underline;
                }
            }
            .header-box-small-ul{
                position: relative;
                width: 1.5rem;
                height: 2.2rem;
                background-color: #fff;
                padding-left: 0.2rem;
                z-index: 1;
            }
        }
        
        
    }
    .fixTop{
        animation: fade 0.5s ease-in-out ;
        position: fixed;
        top: 0;
        z-index: 1;
        opacity: 0.8;
        background-color: rgb(255, 255, 255);
        border-bottom: 0.01rem solid #999;
    }

    @keyframes fade {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 0.6;
        }
    }
}
